<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <arg name="hek_model" default="5L" />
  <arg name="hek_version" default="1.3" />
  <arg name="hek_base" value="hek_$(arg hek_model)_$(arg hek_version)" />

  <!-- Load universal robotic description format (URDF) -->
  <param if="$(arg load_robot_description)" name="robot_description" textfile="$(find hekateros_desc)/urdf/$(arg hek_base).urdf"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(find hekateros_moveit)/config/$(arg hek_base)/hekateros.srdf" />
  
  <!-- Load to the parameter server yaml files -->
  <group ns="robot_description_planning">    
    <rosparam command="load" file="$(find hekateros_moveit)/config/$(arg hek_base)/joint_limits.yaml"/>
  </group>
  
</launch>
